button {
	width:100%;
}

.product h4 {
	color: #3b99e0;

}

.summary h4 {
	margin: 0px 20px;
} 


.page {
	display: block;
	margin: 0 auto;
}
 

div.head {
	text-align: center;
}

div {
	background-color:whitesmoke;
}

div h1 {
	color:#3b99e0;
}

div p {
	margin: 20px;
}

div.summary {
	padding: 0px 80px;
	background-color: #f7fbff;
	border-top:4px solid #5ea4f3;
}

div.summary li {
	background-color: #f7fbff;
}

input {
	width:30%;
	text-align: center;
}

.container {
	background-color: red !important;
}